<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
</head>
<body>
    <div class="wrapper">
        <div id="wrapper">
            <!-- Header-->
            <div th:replace="layout/bodyHeader :: bodyHeader"/>
            <!-- Sidebar -->
<!--            <div th:replace="layout/sidebar :: sidebar"/>-->
            <!-- Content-->
            <div class="container home-main">
                <div class="join-h2">
                    <h2>[[${item}]]</h2>
                </div>
                <div class="row">
                    <div class="col-lg-5 item-detail-img">
                        <img src="/book_image/book1.jpeg" alt="">
                    </div>
                    <div class="col-lg-7 row item-detail-info">
                        <div class="col-md-6 detail-content">
                            <div>제목</div>
                            <div>가격</div>
                            <div th:if="${item}=='도서'">저자</div>
                            <div th:if="${item}=='도서'">출판사</div>
                            <div th:if="${item}=='음반'">아티스트</div>
                            <div th:if="${item}=='음반'">미디어</div>
                        </div>
                        <div class="col-md-6 detail-content">
                            <div>[[${itemDetail.item_name}]]</div>
                            <div>[[${itemDetail.item_price}]]</div>
                            <div th:if="${item}=='도서'">[[${itemDetail.author}]]</div>
                            <div th:if="${item}=='도서'">[[${itemDetail.publisher}]]</div>
                            <div th:if="${item}=='음반'">[[${itemDetail.artist}]]</div>
                            <div th:if="${item}=='음반'">[[${itemDetail.media}]]</div>
                        </div>
                        <div class="col-md-12 book-content">
                            <div>상세내용</div>
                        </div>
                        <div class="col-md-12 cart-order">
                            <form class="item-detail-form">
                            <label for="count">수량</label>
                            <input id="count" name="count" /><input type="hidden" name="item_id" th:value="${itemDetail.getId()}">
                            <button type="button" class="add-cart">장바구니 담기</button>
                            <button type="button" class="order-now">바로 구매하기</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /Content-->
        </div>
        <div th:replace="layout/footer :: footer"/>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src = "/js/main.js"></script>
    <script>
        let itemDetailForm = $(".item-detail-form");
        console.log(itemDetailForm);
        $(".add-cart").click(function (){
           $.ajax({
               type: 'POST',
               url: 'addCart?'+itemDetailForm.serialize(),
               dataType: "text",
               error:function (data){
                   alert("잠시 후 다시 시도하세요");
               },
               success:function (data){
                   console.log(data);
                   alert(data);
               }
           }) ;
        });

    </script>

</body>
</html>