<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
</head>
<body>
    <div class="wrapper">
        <div id="wrapper">
            <!-- Header-->
            <div th:replace="layout/bodyHeader :: bodyHeader"/>
            <!-- Sidebar -->
<!--            <div th:replace="layout/sidebar :: sidebar"/>-->
            <!-- Content-->
            <div class="container home-main">
                <div class="join-h2">
                    <h2>장바구니</h2>
                </div>
                <div class="row col-lg-8" >
                    <div class="row cart-product" th:each="cartList : ${cartList}">
                        <div class="col-lg-5 cart-product-img">
                            <img src="book_image/book1.jpeg" alt="">
                        </div>
                        <div class="col-lg-7 row product-box">
                            <div class="col-md-6 cart-content">
                                <div>제목</div>
                                <div>상품 가격</div>
                            </div>
                            <div class="col-md-6 cart-content">
                                <div>[[${cartList.item_name}]]</div>
                                <div>[[${cartList.item_price}]]</div>
                                <input class="each-price" th:value="${cartList.total_item_price}">
                            </div>
                            <div class="col-md-12 cart-order">
                                <label>수량</label>
                                <input th:value="${cartList.count}"/>
                                <div>수량 가격[[${cartList.total_price}]]</div>
                                <div style="display: none" class="hidden-price" ></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row col-lg-4" >
                    <div class="order-all">
                        <button class="cart-order-all">일괄 주문</button>
                    </div>
                    <div class="total-price-info">
                        <div>[[${cartTotalPrice}]]</div>

                        <button>결제하기</button>
                    </div>
                </div>
            </div>
            <!-- /Content-->
        </div>
        <div th:replace="layout/footer :: footer"/>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!--    <script>
        $("#emailChekBtn").click(function (){
           let inputEmail = $("#inputEmail").val();
           $.ajax({



           });
        });
    </script>-->
    <script src = "/js/main.js"></script>
    <script>
        // $(".cart-order-all").click(function (){
        //     let sum = 0;
        //     $('.each-price').each(function (idx,ele){
        //        if (!isNaN(this.value()&&this.lengh!=0)){
        //            sum += parseInt($(ele).val().toString());
        //            $('#cart-total-price').val(sum);
        //            console.log(sum)
        //        }
        //     });
        // });

        // $(".cart-order-all").click(function (){
        //     $('.tracksNo').each(function(idx,ele){
        //
        //         //입력값 있는거만
        //
        //         if(!isNaN(this.value)&&this.value.length!=0){
        //
        //             Sum+=parseInt($(ele).val());
        //
        //             $('#total').val(Sum);
        //
        //         }
        // });

    </script>

</body>
</html>